body{
  margin: 0px;
  padding: 0px;
  background-color: #96E6B3;
}
.mainContent{
  margin: 0px;
  padding: 0px;
  height: 87.69%;
  background-color: #96E6B3;
}


.nav {
  position: fixed;
  overflow: hidden;
  top:0px;
  background-color: #484041;
  width: 100%;
  height: 12.5.19328125vw;
  z-index: 500;
}


.nav li{
  display: inline;
  list-style-type: none;
  font-size: 4.4vw;
  margin-right: 2%;
  
}

.titleQuestion{
  position: relative;
  margin-top: 9%;
  width: 100%;
  height: 100%;
  margin-left: 40%;
  font-size: 300%;
  line-height: 0;
}

.imagesMid{
  color: #96E6B3;
  
  justify-content: space-between;
  width: 100%;
  margin-top: 2%;
  margin-left: 10%;
}

.imagesMid svg{
margin:auto;
width: 20%;
margin-left: 5%;
}
